<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DatabaseServer" value="OWNER-PC\SQLEXPRESS"/>
    <add key="DatabaseCatalog" value="MIMIR"/>
    <add key="Timeout" value="180" />
    
    <add key="JobLibrary" value="C:\SEIDR.JobExecutor\Jobs\"/>
    <add key="LogRootDirectory" value="C:\Logs\SEIDR.JobExecutor\"/>
    <!--
      Number of Operation Executor threads to create, limit 15
    -->
    <add key="ThreadCount" value="4"/>
    <!--
      Number of Queue threads to create, limit 6
      -->
    <add key="QueueThreadCount" value="1" />
    
    <!--
      If smtp server or mail domain are left out, mail will not be sent. 
      Also note that the mail is a very simple set up. Used for status emails and operation alerts
    -->    
    <add key="SmtpServer" value=""/>
    <add key="MailDomain" value=""/>
    <!--
      The MailTo address for startup/error notifications
    -->
    <add key="StatusMailTo" value=""/>  
  </appSettings>
</configuration>